- if object && object.errors.size > 0
  .alert.alert-danger{ role: 'alert' }
    .alert-title= 'Sign up could not be completed'
    %ul
      - @user.errors.each do |attr, msg|
        - if @user.errors[attr].first == msg
          = "<li>#{msg}</li>".html_safe