@font-face {
  font-family: 'OSP DIN';
  src: asset_url('OSP-DIN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: asset_url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}