-title('About Us | Student Valley')

.pages-container
  .pages-title= 'What is Student Valley?'
  Welcome to Student Valley
  %br
  %br
  Student Valley is social network that serves student's needs without any payment being required from its members.
  Student Valley is founded by Cagdas Yonder in the year 2015.
  %br
  %br
  .pages-title= 'Our Mission'
  Our mission is to serve students to make them successful in their education life.
  %br
  %br
  We believe education is the greatest treasure that can be achieved by people.