.profile-photo{
  border: 1px solid $border-color-base;
  margin-bottom: 5px;

  img{
    width: 206px;
    max-height: 300px;
    min-height: 206px;
  }
}

.profile-name{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  @include text-overflow;
}

.profile-info{
  margin-top: 10px;
  text-align: left;
  word-wrap: break-word; // Prevent overlap
}

.profile-stats{ margin-top: 10px; }

.profile-stat{
  a{
    border: 1px solid $background;
    width: 104px;
  }

  strong{
    color: #000000;
    display: block;
    font-size: 20px;
    font-weight: bold;
  }
}

.profile-buttons{
  margin-top: -15px;
  margin-bottom: 20px;
}

.profile-button-size{
  display: block;
  margin-bottom: 5px;
  &:last-child{ margin-bottom: 0; }
}

.profile-about-item{
  @include text-overflow;
  margin-bottom: 5px;
  &:last-child{ margin-bottom: 0; }
}

.settings-photo{
  border: 1px solid $border-color-base;
  margin-right: 20px;
  // Made it 20 instead of 10, because we want to align it with table inputs.

  img{
    width: 93px;
    height: 93px;
  }
}